 <!--Nafees Hasan 301147626 Assignment 1 Portfolio 10/04/2021-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %> 
<!DOCTYPE html>
<html>
    <!--head section-->
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/content/app.css" />
    </head>
    <!--main content-->
    <main>
        <h1>Services</h1>
        <br />
        <h3>The following is a list of services offered:
            <li>Web Development</li>
            <li>Java Programming</li>
            <li>SRS Documentation</li>
            <li>Web Design</li>
        </h3>
    </main>
    

    <%- include partials/footer.ejs %>
    <%- include partials/bottom_nav.ejs %>
    </html>